@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: lightgrey;

}

header{
   background-color: lightgray;
}

 header h1{
    text-align: center;
    padding: 10px;
 }
 
 div#menu-icon{
    width: 25px;
    cursor: pointer;
    
 }

 div#svgs{
     background-color: rgb(177, 173, 173);
 }
 

 #svg{
      color: white;
      display: block;
      position: relative;
      left: 47%;
      cursor: pointer;
 }

   menu {
      display: none;
   }

menu{
     background-color: rgb(114, 113, 113);
}
 ul {
    list-style-type: none;
 }

 menu > ul > li > a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
    text-align: center;
    border-top: 2px solid rgb(172, 166, 166);
    color: rgb(235, 232, 232);
 }
 
 menu > ul > li > a:hover{
    background-color: rgb(218, 215, 215);
    color: black;
    transition-duration: .5s;
 }

main{
    background-color: white;
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;

 
    
}

article h2{
    padding-bottom: 20px;

}

article > p{
    text-indent: 20px;
    text-align: justify;
    margin-bottom: 20px;
}

