
body{
    margin: 0px;
}
header{
    background-color: rgb(236, 93, 93);
    padding: 10px;
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(214, 198, 198);
    
}
header a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
header a:hover{
    background-color: rgba(68, 35, 35, 0.418);
    border-radius: 5px;
     transition: .5s;
}