@charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(2, 2, 44);
    font-family: Arial, Helvetica, sans-serif;
}

header{
 padding: 8px;
border-bottom: 1px solid  rgba(169, 169, 169, 0.116);
}
 header p {
    margin-left: 100px;
    display: inline;
    color: white;
 }
nav{
    text-align: right;
    margin-right: 100px;
}
 nav a{
    margin-right: 10;
    text-decoration: none;
    color: darkgray;
    border: 1px solid rgb(97, 97, 97);
    border-radius: 10px;
    padding: 7px;
    font-size: small;
 }
 
 nav a:hover{
    color: white;
    background-color:  rgba(112, 112, 112, 0.164);
    transition-duration: .5s;
 }
#semana{
    padding: 20px;
    width: 1150px;
    background-image: linear-gradient(to right,rgb(46, 120, 231),rgb(78, 233, 78));
    margin: auto;
    border-radius: 20px;
    margin-bottom: 20px;
}

.promo{
    padding: 8px;
    border-radius: 10px;
    width: 560px;
    margin-right: 10px;
    text-align: left;
    color: white;
}
input#catalogo{
    border: 1px solid rgba(0, 0, 0, 0.226) ;
    background-image:linear-gradient(to right,  rgb(22, 216, 22),  rgb(7, 150, 7)) ;
}

input#catalogo:hover{
    background-image:linear-gradient(to right,  rgb(34, 146, 34),  rgb(5, 71, 5)) ;

}

input#whatsApp{
    border: 1px solid rgba(0, 0, 0, 0.226) ;
    background-image: linear-gradient(to right, rgb(46, 120, 231),  rgb(13, 60, 131));
    
}

input#whatsApp:hover{
   background-image: linear-gradient(to right, rgb(24, 62, 119),  rgb(8, 30, 63));
     background-position: right;
}

main{
    margin: auto;
    width: 1150px;
}

.container{
    display: flex;
    gap: 10px;
    width: 87vw;
}


.box{
    border: 1px solid rgba(169, 169, 169, 0.164);
    width: 600px;
    height: 400px;
    background-color: rgb(1, 1, 17);
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    line-height: 1em;
    background-color:rgba(32, 32, 49, 0.541);
}

#destaques{
    line-height: .5em;
}

#servicos{
    margin-top: 0px;
}

.bbb{
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    width: 90px;
    background-color:rgb(4, 4, 56);
    color: white;
    border: 1px solid rgba(169, 169, 169, 0.164);
}

footer{
    margin: auto;
    width: 1150px;
    color: rgba(202, 200, 200, 0.89);
    line-height: .5em;
}

#para{
    text-align: right;
}



