

  ::-webkit-scrollbar{
        width: 0px;
        height: 0px;
    }
        *{
            font-family: Arial, Helvetica, sans-serif;
            margin: 0px;
            padding: 0px;
        }
        img{
            width: 100vw;

        }
        a{
            text-align: center;
            text-decoration: none;
            color: white;
           background-color: brown; 
           padding: 20px;
            display: block;
            font-size: 1.5em;
        }
        a:hover{
            background-color: rgba(233, 106, 106, 0.952);
        }