@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: black;
}

main{
    position: relative;
    height: 100vh;
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center ;
    background-size: cover;
    background-attachment: fixed;
}
#telemovel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 311px;
    height: 627px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe{
    position: relative;
    top: 80px;
    left: 22px;
    width: 266px;
    height: 469px;
}
#redes img{
    border-radius: 50%;
    width: 40px;
    margin: 5px;
    box-sizing: border-box;
    box-shadow: 2px 4px 4px black;
    
}
#redes img:hover{
    border: 2px solid white;
    box-shadow: 5px 5px 10px black;
    transform: translate(-4px, -3px);
    transition: transform .5s, border 2s;
 
}

#redes{
   text-align: right;
}
