@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
   height: 100; 
}
p{
    text-align: justify;
}
body{
    background-image: linear-gradient(to right, #e76ac2, #f1b5da, #da4d5f, #c775e0, #f3c7df);
}
main{
    box-shadow: 10px 10px 10px black;
    border-radius: 10px;
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    text-align: center;
    color: chocolate;
}
h2{
    color: darkslateblue;
}