@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;

}

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-android: 'Android', 'cursive'

}
body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 125px;
    text-align: center;
    color: white;
    padding: 30px;
}
 header > h1{
    color: white;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.397);
    font-weight: normal;
 }
 header > p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.397);
    padding-left: 10px;
    padding-right: 10px;
 }
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.226);
}
nav > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    font-family: var(--fonte-padrao);
    transition-duration: .5s;
}

nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
        border-radius: 5px;
}

main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
}
main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
}
main h2{
    color: var(--cor4);
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-weight: normal;
}
main img{
    width: 100%;
}
main img.pequena{
    width: 50%;
    display: block;
    margin: auto;
    max-width: 350px;
}
main p{
    margin:15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1.1em;
}
main strong{
    color: var(--cor4);
}
main a {
    font-weight: bold;
    background-color: var(--cor1);
    text-decoration: none;
    padding: 2px 6px;
    color: var(--cor5);
}

main a:hover{
    text-decoration: underline;
    color: var(--cor3);
    background-color: var(--cor1);
}

aside{
    background-color: var(--cor1);
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.212);
}

aside ul{
    list-style-position: inside;
    columns: 2;
    text-decoration: none;
}
aside h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: 0.8em;
        padding: 5px;
}
footer a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
footer a:hover{
    color: var(--cor1);
    text-decoration: underline;
}

